<div class="container">
    <form (submit)="enregistrer()" [formGroup]="userForm">
        <div class="mb-3">
            <label for="surname" class="form-label">Prenom</label>
            <input formControlName="prenom" type="text" class="form-control" id="surname">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Nom</label>
            <input formControlName="nom" type="text" class="form-control" id="name">
          </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input formControlName="email" type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
          <label for="telephone" class="form-label">Telephone</label>
          <input formControlName="telephone" type="text" class="form-control" id="telephone">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot De Passe</label>
            <input formControlName="password" type="text" class="form-control" id="password">
          </div>
        <button type="submit" class="btn btn-primary">S'inscrire</button>
      </form>
      <p>Déja un compte ?</p>
      <a class="btn btn-primary" routerLink="/connection">Se Connecter</a>
    
</div>
